# Environment variables
.env

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Virtual environments
venv/
env/
ENV/

# Model files
*.pkl
*.pt

# Database
*.db
*.sqlite3

# Temporary files
*.log
.DS_Store

